.task-list{
    list-style: none;
    color: #fff;
}

.div-task-list{
    border-bottom: 1px solid #fff;
}

.task-list-completed{
    text-decoration: line-through;
    color: rgb(120, 120, 120);
}

.checkbox-task-list{
    border: 5px solid #fff;
    border-radius: 100%;
    width: 15px;
    height: 15px;

}

.delete-task-list{
    float: right;
}

.task-name-text{
    font-size: 20px;
}
